name: Continuous Integration

on:
  pull_request:
    branches:
      - "main"

jobs:
  setup:
    name: Setup
    outputs:
      workflow_dependency_files_changed: ${{ steps.changes.outputs.workflow_dependency_files }}
      solution_files_changed: ${{ steps.changes.outputs.solution_files }}
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check file changes
        id: changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: |
            workflow_dependency_files:
              - '.github/workflows/continuous-integration.yaml'
            solution_files:
              - 'src/**'
              - 'tests/**'
              - 'Cargo.toml'
              - 'Cargo.lock'

  validate-solution:
    name: Validate solution
    needs: setup
    if: ${{ needs.setup.outputs.solution_files_changed == 'true' || needs.setup.outputs.workflow_dependency_files_changed == 'true' }}
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Build program
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --manifest-path Cargo.toml

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path Cargo.toml

      - name: Format checker
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path Cargo.toml --all -- --check

      - name: Syntax checker
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --manifest-path Cargo.toml -- -D warnings

  guard:
    name: Guard job
    needs:
      - setup
      - validate-solution
    if: ${{ always() }}
    permissions: {}
    runs-on: ubuntu-latest
    steps:
      - name: Fail if previous jobs failed or were cancelled
        if: ${{ contains(join(needs.*.result, ','), 'failure') || contains(join(needs.*.result, ','), 'cancelled') }}
        run: |
          exit 1
